* { padding: 0; margin: 0; }
body {
	overflow: hidden; /* Hide scrollbars */
	font-family: sans-serif;
}

.toolbox {
	position: absolute;
	left: 20px;
	top: 20px;
	height: 400px;
	width: 200px;
	border: 1px solid black;
	background-color: #bbb;
	z-index: 10000;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.toolbox-header {
	background-color: #333;
	color: white;
	padding: 0.75em 1em;
	margin-bottom: 0.5em;
	cursor: move;
}

.toolbox-body {
	padding-left: 0.5em;
}

.toolbox-body input {
	width: 35%;
	padding: 0.5em;
	margin-left: 0.5em;
}

.toolbox-body div {
	margin-bottom: 0.5em;
}

.btn {
	padding: 0.5em 1em;
	border-radius: 4px;
	border-width: 0;
	background-color: #265c9c;
	color: white;
}

#selected-item-info {
	border-top: 1px solid black;
	margin-top: 1.5em;
	padding-top: 1.0em;
	padding-left: 0.5em;
}
